<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanyi.andnow.basedata.user.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.fanyi.andnow.common.vo.basedata.User" >
    <id column="pk_user" property="pkUser" jdbcType="INTEGER" />
    <result column="pk_group" property="pkGroup" jdbcType="INTEGER" />
    <result column="pk_org" property="pkOrg" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="pwdlevel" property="pwdlevel" jdbcType="TINYINT" />
    <result column="pwdparam" property="pwdparam" jdbcType="VARCHAR" />
    <result column="identityverifycode" property="identityverifycode" jdbcType="TINYINT" />
    <result column="enabledate" property="enabledate" jdbcType="DATE" />
    <result column="disabledate" property="disabledate" jdbcType="DATE" />
    <result column="islocked" property="islocked" jdbcType="TINYINT" />
    <result column="pk_psndoc" property="pkPsndoc" jdbcType="INTEGER" />
    <result column="doctype" property="doctype" jdbcType="INTEGER" />
    <result column="usertype" property="usertype" jdbcType="INTEGER" />
    <result column="pk_usergroup" property="pkUsergroup" jdbcType="DATE" />
    <result column="enablestate" property="enablestate" jdbcType="TINYINT" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="creationtime" property="creationtime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modifiedtime" property="modifiedtime" jdbcType="TIMESTAMP" />
    <result column="dr" property="dr" jdbcType="TINYINT" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    pk_user, pk_group, pk_org, code, name, password, pwdlevel, pwdparam, identityverifycode, 
    enabledate, disabledate, islocked, pk_psndoc, doctype, usertype, pk_usergroup, enablestate, 
    note, creator, creationtime, modifier, modifiedtime, dr, ts
  </sql>

  <select id="selectUserCount" resultType="java.lang.Integer">
    select count(*) from bd_user where dr = 0
  </select>

  <select id="selectUserByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bd_user
    where pk_user = #{pkUser,jdbcType=INTEGER} and dr = 0
  </select>

  <select id="selectLoginUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bd_user
    where code = #{code} and password = #{password} and dr = 0
  </select>

  <select id="selectAllUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bd_user
    where dr = 0
  </select>

  <delete id="clearDeletedData" parameterType="java.lang.Integer" >
    delete from bd_user
    where dr = 1
  </delete>

  <update id="deleteUserByPrimaryKey" parameterType="java.lang.Integer" >
    update bd_user
    <set>
      dr = 1
    </set>
    where pk_user = #{pkUser,jdbcType=INTEGER}
  </update>


  <insert id="insertUser" parameterType="com.fanyi.andnow.common.vo.basedata.User" >
    insert into bd_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkUser != null" >pk_user,</if>
      <if test="pkGroup != null" >pk_group,</if>
      <if test="pkOrg != null" >pk_org,</if>
      <if test="code != null" >code,</if>
      <if test="name != null" >name,</if>
      <if test="password != null" >password,</if>
      <if test="pwdlevel != null" >pwdlevel,</if>
      <if test="pwdparam != null" >pwdparam,</if>
      <if test="identityverifycode != null" >identityverifycode,</if>
      <if test="enabledate != null" >enabledate,</if>
      <if test="disabledate != null" >disabledate,</if>
      <if test="islocked != null" >islocked,</if>
      <if test="pkPsndoc != null" >pk_psndoc,</if>
      <if test="doctype != null" >doctype,</if>
      <if test="usertype != null" >usertype,</if>
      <if test="pkUsergroup != null" >pk_usergroup,</if>
      <if test="enablestate != null" >enablestate,</if>
      <if test="note != null" >note,</if>
      <if test="creator != null" >creator,</if>
      <if test="creationtime != null" >creationtime,</if>
      <if test="modifier != null" >modifier,</if>
      <if test="modifiedtime != null" >modifiedtime,</if>
      <if test="dr != null" >dr,</if>
      <if test="ts != null" >ts,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkUser != null" >#{pkUser,jdbcType=INTEGER},</if>
      <if test="pkGroup != null" >#{pkGroup,jdbcType=INTEGER},</if>
      <if test="pkOrg != null" >#{pkOrg,jdbcType=INTEGER},</if>
      <if test="code != null" >#{code,jdbcType=VARCHAR},</if>
      <if test="name != null" >#{name,jdbcType=VARCHAR},</if>
      <if test="password != null" >#{password,jdbcType=VARCHAR},</if>
      <if test="pwdlevel != null" >#{pwdlevel,jdbcType=TINYINT},</if>
      <if test="pwdparam != null" >#{pwdparam,jdbcType=VARCHAR},</if>
      <if test="identityverifycode != null" >#{identityverifycode,jdbcType=TINYINT},</if>
      <if test="enabledate != null" >#{enabledate,jdbcType=DATE},</if>
      <if test="disabledate != null" >#{disabledate,jdbcType=DATE},</if>
      <if test="islocked != null" >#{islocked,jdbcType=TINYINT},</if>
      <if test="pkPsndoc != null" >#{pkPsndoc,jdbcType=INTEGER},</if>
      <if test="doctype != null" >#{doctype,jdbcType=INTEGER},</if>
      <if test="usertype != null" >#{usertype,jdbcType=INTEGER},</if>
      <if test="pkUsergroup != null" >#{pkUsergroup,jdbcType=DATE},</if>
      <if test="enablestate != null" >#{enablestate,jdbcType=TINYINT},</if>
      <if test="note != null" >#{note,jdbcType=VARCHAR},</if>
      <if test="creator != null" >#{creator,jdbcType=INTEGER},</if>
      <if test="creationtime != null" >#{creationtime,jdbcType=TIMESTAMP},</if>
      <if test="modifier != null" >#{modifier,jdbcType=INTEGER},</if>
      <if test="modifiedtime != null" >#{modifiedtime,jdbcType=TIMESTAMP},</if>
      <if test="dr != null" >#{dr,jdbcType=TINYINT},</if>
      <if test="ts != null" >#{ts,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>


  <update id="updateUserByPrimaryKey" parameterType="com.fanyi.andnow.common.vo.basedata.User" >
    update bd_user
    <set >
      <if test="pkGroup != null" >pk_group = #{pkGroup,jdbcType=INTEGER},</if>
      <if test="pkOrg != null" >pk_org = #{pkOrg,jdbcType=INTEGER},</if>
      <if test="code != null" >code = #{code,jdbcType=VARCHAR},</if>
      <if test="name != null" >name = #{name,jdbcType=VARCHAR},</if>
      <if test="password != null" >password = #{password,jdbcType=VARCHAR},</if>
      <if test="pwdlevel != null" >pwdlevel = #{pwdlevel,jdbcType=TINYINT},</if>
      <if test="pwdparam != null" >pwdparam = #{pwdparam,jdbcType=VARCHAR},</if>
      <if test="identityverifycode != null" >identityverifycode = #{identityverifycode,jdbcType=TINYINT},</if>
      <if test="enabledate != null" >enabledate = #{enabledate,jdbcType=DATE},</if>
      <if test="disabledate != null" >disabledate = #{disabledate,jdbcType=DATE},</if>
      <if test="islocked != null" >islocked = #{islocked,jdbcType=TINYINT},</if>
      <if test="pkPsndoc != null" >pk_psndoc = #{pkPsndoc,jdbcType=INTEGER},</if>
      <if test="doctype != null" >doctype = #{doctype,jdbcType=INTEGER},</if>
      <if test="usertype != null" >usertype = #{usertype,jdbcType=INTEGER},</if>
      <if test="pkUsergroup != null" >pk_usergroup = #{pkUsergroup,jdbcType=DATE},</if>
      <if test="enablestate != null" >enablestate = #{enablestate,jdbcType=TINYINT},</if>
      <if test="note != null" >note = #{note,jdbcType=VARCHAR},</if>
      <if test="creator != null" >creator = #{creator,jdbcType=INTEGER},</if>
      <if test="creationtime != null" >creationtime = #{creationtime,jdbcType=TIMESTAMP},</if>
      <if test="modifier != null" >modifier = #{modifier,jdbcType=INTEGER},</if>
      <if test="modifiedtime != null" >modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},</if>
      <if test="dr != null" >dr = #{dr,jdbcType=TINYINT},</if>
      <if test="ts != null" >ts = #{ts,jdbcType=TIMESTAMP},</if>
    </set>
    where pk_user = #{pkUser,jdbcType=INTEGER}
  </update>

</mapper>