<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanyi.andnow.dao.basedata.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.fanyi.andnow.entity.basedata.Supplier" >
    <id column="pk_supplier" property="pkSupplier" jdbcType="INTEGER" />
    <result column="pk_group" property="pkGroup" jdbcType="INTEGER" />
    <result column="pk_org" property="pkOrg" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="shortname" property="shortname" jdbcType="VARCHAR" />
    <result column="ename" property="ename" jdbcType="VARCHAR" />
    <result column="mencode" property="mencode" jdbcType="VARCHAR" />
    <result column="pk_country" property="pkCountry" jdbcType="INTEGER" />
    <result column="pk_timezone" property="pkTimezone" jdbcType="INTEGER" />
    <result column="trade" property="trade" jdbcType="INTEGER" />
    <result column="suppliertype" property="suppliertype" jdbcType="INTEGER" />
    <result column="pk_superior" property="pkSuperior" jdbcType="INTEGER" />
    <result column="establishdate" property="establishdate" jdbcType="TIMESTAMP" />
    <result column="pk_supplierclass" property="pkSupplierclass" jdbcType="INTEGER" />
    <result column="iscustomer" property="iscustomer" jdbcType="TINYINT" />
    <result column="taxpayerid" property="taxpayerid" jdbcType="VARCHAR" />
    <result column="registeredfund" property="registeredfund" jdbcType="DOUBLE" />
    <result column="pk_currtype" property="pkCurrtype" jdbcType="INTEGER" />
    <result column="legalbody" property="legalbody" jdbcType="VARCHAR" />
    <result column="buslicense" property="buslicense" jdbcType="VARCHAR" />
    <result column="supcountrytaxes" property="supcountrytaxes" jdbcType="VARCHAR" />
    <result column="postalcode" property="postalcode" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="supplierstate" property="supplierstate" jdbcType="TINYINT" />
    <result column="suplinkman" property="suplinkman" jdbcType="VARCHAR" />
    <result column="suobankacc" property="suobankacc" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="enablestate" property="enablestate" jdbcType="TINYINT" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="creationtime" property="creationtime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modifiedtime" property="modifiedtime" jdbcType="TIMESTAMP" />
    <result column="dr" property="dr" jdbcType="TINYINT" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pk_supplier, pk_group, pk_org, code, name, version, address, shortname, ename, mencode, 
    pk_country, pk_timezone, trade, suppliertype, pk_superior, establishdate, pk_supplierclass, 
    iscustomer, taxpayerid, registeredfund, pk_currtype, legalbody, buslicense, supcountrytaxes, 
    postalcode, website, supplierstate, suplinkman, suobankacc, tel, fax, email, enablestate, 
    note, creator, creationtime, modifier, modifiedtime, dr, ts
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fanyi.andnow.dao.supplier.service.SupplierExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bd_supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bd_supplier
    where pk_supplier = #{pkSupplier,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bd_supplier
    where pk_supplier = #{pkSupplier,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fanyi.andnow.dao.supplier.service.SupplierExample" >
    delete from bd_supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fanyi.andnow.entity.basedata.Supplier" >
    insert into bd_supplier (pk_supplier, pk_group, pk_org, 
      code, name, version, 
      address, shortname, ename, 
      mencode, pk_country, pk_timezone, 
      trade, suppliertype, pk_superior, 
      establishdate, pk_supplierclass, iscustomer, 
      taxpayerid, registeredfund, pk_currtype, 
      legalbody, buslicense, supcountrytaxes, 
      postalcode, website, supplierstate, 
      suplinkman, suobankacc, tel, 
      fax, email, enablestate, 
      note, creator, creationtime, 
      modifier, modifiedtime, dr, 
      ts)
    values (#{pkSupplier,jdbcType=INTEGER}, #{pkGroup,jdbcType=INTEGER}, #{pkOrg,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{shortname,jdbcType=VARCHAR}, #{ename,jdbcType=VARCHAR}, 
      #{mencode,jdbcType=VARCHAR}, #{pkCountry,jdbcType=INTEGER}, #{pkTimezone,jdbcType=INTEGER}, 
      #{trade,jdbcType=INTEGER}, #{suppliertype,jdbcType=INTEGER}, #{pkSuperior,jdbcType=INTEGER}, 
      #{establishdate,jdbcType=TIMESTAMP}, #{pkSupplierclass,jdbcType=INTEGER}, #{iscustomer,jdbcType=TINYINT}, 
      #{taxpayerid,jdbcType=VARCHAR}, #{registeredfund,jdbcType=DOUBLE}, #{pkCurrtype,jdbcType=INTEGER}, 
      #{legalbody,jdbcType=VARCHAR}, #{buslicense,jdbcType=VARCHAR}, #{supcountrytaxes,jdbcType=VARCHAR}, 
      #{postalcode,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, #{supplierstate,jdbcType=TINYINT}, 
      #{suplinkman,jdbcType=VARCHAR}, #{suobankacc,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{enablestate,jdbcType=TINYINT}, 
      #{note,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, #{creationtime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=INTEGER}, #{modifiedtime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT}, 
      #{ts,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fanyi.andnow.entity.basedata.Supplier" >
    insert into bd_supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkSupplier != null" >
        pk_supplier,
      </if>
      <if test="pkGroup != null" >
        pk_group,
      </if>
      <if test="pkOrg != null" >
        pk_org,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="shortname != null" >
        shortname,
      </if>
      <if test="ename != null" >
        ename,
      </if>
      <if test="mencode != null" >
        mencode,
      </if>
      <if test="pkCountry != null" >
        pk_country,
      </if>
      <if test="pkTimezone != null" >
        pk_timezone,
      </if>
      <if test="trade != null" >
        trade,
      </if>
      <if test="suppliertype != null" >
        suppliertype,
      </if>
      <if test="pkSuperior != null" >
        pk_superior,
      </if>
      <if test="establishdate != null" >
        establishdate,
      </if>
      <if test="pkSupplierclass != null" >
        pk_supplierclass,
      </if>
      <if test="iscustomer != null" >
        iscustomer,
      </if>
      <if test="taxpayerid != null" >
        taxpayerid,
      </if>
      <if test="registeredfund != null" >
        registeredfund,
      </if>
      <if test="pkCurrtype != null" >
        pk_currtype,
      </if>
      <if test="legalbody != null" >
        legalbody,
      </if>
      <if test="buslicense != null" >
        buslicense,
      </if>
      <if test="supcountrytaxes != null" >
        supcountrytaxes,
      </if>
      <if test="postalcode != null" >
        postalcode,
      </if>
      <if test="website != null" >
        website,
      </if>
      <if test="supplierstate != null" >
        supplierstate,
      </if>
      <if test="suplinkman != null" >
        suplinkman,
      </if>
      <if test="suobankacc != null" >
        suobankacc,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="enablestate != null" >
        enablestate,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationtime != null" >
        creationtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifiedtime != null" >
        modifiedtime,
      </if>
      <if test="dr != null" >
        dr,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkSupplier != null" >
        #{pkSupplier,jdbcType=INTEGER},
      </if>
      <if test="pkGroup != null" >
        #{pkGroup,jdbcType=INTEGER},
      </if>
      <if test="pkOrg != null" >
        #{pkOrg,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="shortname != null" >
        #{shortname,jdbcType=VARCHAR},
      </if>
      <if test="ename != null" >
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="mencode != null" >
        #{mencode,jdbcType=VARCHAR},
      </if>
      <if test="pkCountry != null" >
        #{pkCountry,jdbcType=INTEGER},
      </if>
      <if test="pkTimezone != null" >
        #{pkTimezone,jdbcType=INTEGER},
      </if>
      <if test="trade != null" >
        #{trade,jdbcType=INTEGER},
      </if>
      <if test="suppliertype != null" >
        #{suppliertype,jdbcType=INTEGER},
      </if>
      <if test="pkSuperior != null" >
        #{pkSuperior,jdbcType=INTEGER},
      </if>
      <if test="establishdate != null" >
        #{establishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="pkSupplierclass != null" >
        #{pkSupplierclass,jdbcType=INTEGER},
      </if>
      <if test="iscustomer != null" >
        #{iscustomer,jdbcType=TINYINT},
      </if>
      <if test="taxpayerid != null" >
        #{taxpayerid,jdbcType=VARCHAR},
      </if>
      <if test="registeredfund != null" >
        #{registeredfund,jdbcType=DOUBLE},
      </if>
      <if test="pkCurrtype != null" >
        #{pkCurrtype,jdbcType=INTEGER},
      </if>
      <if test="legalbody != null" >
        #{legalbody,jdbcType=VARCHAR},
      </if>
      <if test="buslicense != null" >
        #{buslicense,jdbcType=VARCHAR},
      </if>
      <if test="supcountrytaxes != null" >
        #{supcountrytaxes,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null" >
        #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="supplierstate != null" >
        #{supplierstate,jdbcType=TINYINT},
      </if>
      <if test="suplinkman != null" >
        #{suplinkman,jdbcType=VARCHAR},
      </if>
      <if test="suobankacc != null" >
        #{suobankacc,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="enablestate != null" >
        #{enablestate,jdbcType=TINYINT},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="creationtime != null" >
        #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null" >
        #{dr,jdbcType=TINYINT},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fanyi.andnow.dao.supplier.service.SupplierExample" resultType="java.lang.Integer" >
    select count(*) from bd_supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bd_supplier
    <set >
      <if test="group.pkSupplier != null" >
        pk_supplier = #{group.pkSupplier,jdbcType=INTEGER},
      </if>
      <if test="group.pkGroup != null" >
        pk_group = #{group.pkGroup,jdbcType=INTEGER},
      </if>
      <if test="group.pkOrg != null" >
        pk_org = #{group.pkOrg,jdbcType=INTEGER},
      </if>
      <if test="group.code != null" >
        code = #{group.code,jdbcType=VARCHAR},
      </if>
      <if test="group.name != null" >
        name = #{group.name,jdbcType=VARCHAR},
      </if>
      <if test="group.version != null" >
        version = #{group.version,jdbcType=VARCHAR},
      </if>
      <if test="group.address != null" >
        address = #{group.address,jdbcType=VARCHAR},
      </if>
      <if test="group.shortname != null" >
        shortname = #{group.shortname,jdbcType=VARCHAR},
      </if>
      <if test="group.ename != null" >
        ename = #{group.ename,jdbcType=VARCHAR},
      </if>
      <if test="group.mencode != null" >
        mencode = #{group.mencode,jdbcType=VARCHAR},
      </if>
      <if test="group.pkCountry != null" >
        pk_country = #{group.pkCountry,jdbcType=INTEGER},
      </if>
      <if test="group.pkTimezone != null" >
        pk_timezone = #{group.pkTimezone,jdbcType=INTEGER},
      </if>
      <if test="group.trade != null" >
        trade = #{group.trade,jdbcType=INTEGER},
      </if>
      <if test="group.suppliertype != null" >
        suppliertype = #{group.suppliertype,jdbcType=INTEGER},
      </if>
      <if test="group.pkSuperior != null" >
        pk_superior = #{group.pkSuperior,jdbcType=INTEGER},
      </if>
      <if test="group.establishdate != null" >
        establishdate = #{group.establishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="group.pkSupplierclass != null" >
        pk_supplierclass = #{group.pkSupplierclass,jdbcType=INTEGER},
      </if>
      <if test="group.iscustomer != null" >
        iscustomer = #{group.iscustomer,jdbcType=TINYINT},
      </if>
      <if test="group.taxpayerid != null" >
        taxpayerid = #{group.taxpayerid,jdbcType=VARCHAR},
      </if>
      <if test="group.registeredfund != null" >
        registeredfund = #{group.registeredfund,jdbcType=DOUBLE},
      </if>
      <if test="group.pkCurrtype != null" >
        pk_currtype = #{group.pkCurrtype,jdbcType=INTEGER},
      </if>
      <if test="group.legalbody != null" >
        legalbody = #{group.legalbody,jdbcType=VARCHAR},
      </if>
      <if test="group.buslicense != null" >
        buslicense = #{group.buslicense,jdbcType=VARCHAR},
      </if>
      <if test="group.supcountrytaxes != null" >
        supcountrytaxes = #{group.supcountrytaxes,jdbcType=VARCHAR},
      </if>
      <if test="group.postalcode != null" >
        postalcode = #{group.postalcode,jdbcType=VARCHAR},
      </if>
      <if test="group.website != null" >
        website = #{group.website,jdbcType=VARCHAR},
      </if>
      <if test="group.supplierstate != null" >
        supplierstate = #{group.supplierstate,jdbcType=TINYINT},
      </if>
      <if test="group.suplinkman != null" >
        suplinkman = #{group.suplinkman,jdbcType=VARCHAR},
      </if>
      <if test="group.suobankacc != null" >
        suobankacc = #{group.suobankacc,jdbcType=VARCHAR},
      </if>
      <if test="group.tel != null" >
        tel = #{group.tel,jdbcType=VARCHAR},
      </if>
      <if test="group.fax != null" >
        fax = #{group.fax,jdbcType=VARCHAR},
      </if>
      <if test="group.email != null" >
        email = #{group.email,jdbcType=VARCHAR},
      </if>
      <if test="group.enablestate != null" >
        enablestate = #{group.enablestate,jdbcType=TINYINT},
      </if>
      <if test="group.note != null" >
        note = #{group.note,jdbcType=VARCHAR},
      </if>
      <if test="group.creator != null" >
        creator = #{group.creator,jdbcType=INTEGER},
      </if>
      <if test="group.creationtime != null" >
        creationtime = #{group.creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="group.modifier != null" >
        modifier = #{group.modifier,jdbcType=INTEGER},
      </if>
      <if test="group.modifiedtime != null" >
        modifiedtime = #{group.modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="group.dr != null" >
        dr = #{group.dr,jdbcType=TINYINT},
      </if>
      <if test="group.ts != null" >
        ts = #{group.ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bd_supplier
    set pk_supplier = #{group.pkSupplier,jdbcType=INTEGER},
      pk_group = #{group.pkGroup,jdbcType=INTEGER},
      pk_org = #{group.pkOrg,jdbcType=INTEGER},
      code = #{group.code,jdbcType=VARCHAR},
      name = #{group.name,jdbcType=VARCHAR},
      version = #{group.version,jdbcType=VARCHAR},
      address = #{group.address,jdbcType=VARCHAR},
      shortname = #{group.shortname,jdbcType=VARCHAR},
      ename = #{group.ename,jdbcType=VARCHAR},
      mencode = #{group.mencode,jdbcType=VARCHAR},
      pk_country = #{group.pkCountry,jdbcType=INTEGER},
      pk_timezone = #{group.pkTimezone,jdbcType=INTEGER},
      trade = #{group.trade,jdbcType=INTEGER},
      suppliertype = #{group.suppliertype,jdbcType=INTEGER},
      pk_superior = #{group.pkSuperior,jdbcType=INTEGER},
      establishdate = #{group.establishdate,jdbcType=TIMESTAMP},
      pk_supplierclass = #{group.pkSupplierclass,jdbcType=INTEGER},
      iscustomer = #{group.iscustomer,jdbcType=TINYINT},
      taxpayerid = #{group.taxpayerid,jdbcType=VARCHAR},
      registeredfund = #{group.registeredfund,jdbcType=DOUBLE},
      pk_currtype = #{group.pkCurrtype,jdbcType=INTEGER},
      legalbody = #{group.legalbody,jdbcType=VARCHAR},
      buslicense = #{group.buslicense,jdbcType=VARCHAR},
      supcountrytaxes = #{group.supcountrytaxes,jdbcType=VARCHAR},
      postalcode = #{group.postalcode,jdbcType=VARCHAR},
      website = #{group.website,jdbcType=VARCHAR},
      supplierstate = #{group.supplierstate,jdbcType=TINYINT},
      suplinkman = #{group.suplinkman,jdbcType=VARCHAR},
      suobankacc = #{group.suobankacc,jdbcType=VARCHAR},
      tel = #{group.tel,jdbcType=VARCHAR},
      fax = #{group.fax,jdbcType=VARCHAR},
      email = #{group.email,jdbcType=VARCHAR},
      enablestate = #{group.enablestate,jdbcType=TINYINT},
      note = #{group.note,jdbcType=VARCHAR},
      creator = #{group.creator,jdbcType=INTEGER},
      creationtime = #{group.creationtime,jdbcType=TIMESTAMP},
      modifier = #{group.modifier,jdbcType=INTEGER},
      modifiedtime = #{group.modifiedtime,jdbcType=TIMESTAMP},
      dr = #{group.dr,jdbcType=TINYINT},
      ts = #{group.ts,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyi.andnow.entity.basedata.Supplier" >
    update bd_supplier
    <set >
      <if test="pkGroup != null" >
        pk_group = #{pkGroup,jdbcType=INTEGER},
      </if>
      <if test="pkOrg != null" >
        pk_org = #{pkOrg,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="shortname != null" >
        shortname = #{shortname,jdbcType=VARCHAR},
      </if>
      <if test="ename != null" >
        ename = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="mencode != null" >
        mencode = #{mencode,jdbcType=VARCHAR},
      </if>
      <if test="pkCountry != null" >
        pk_country = #{pkCountry,jdbcType=INTEGER},
      </if>
      <if test="pkTimezone != null" >
        pk_timezone = #{pkTimezone,jdbcType=INTEGER},
      </if>
      <if test="trade != null" >
        trade = #{trade,jdbcType=INTEGER},
      </if>
      <if test="suppliertype != null" >
        suppliertype = #{suppliertype,jdbcType=INTEGER},
      </if>
      <if test="pkSuperior != null" >
        pk_superior = #{pkSuperior,jdbcType=INTEGER},
      </if>
      <if test="establishdate != null" >
        establishdate = #{establishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="pkSupplierclass != null" >
        pk_supplierclass = #{pkSupplierclass,jdbcType=INTEGER},
      </if>
      <if test="iscustomer != null" >
        iscustomer = #{iscustomer,jdbcType=TINYINT},
      </if>
      <if test="taxpayerid != null" >
        taxpayerid = #{taxpayerid,jdbcType=VARCHAR},
      </if>
      <if test="registeredfund != null" >
        registeredfund = #{registeredfund,jdbcType=DOUBLE},
      </if>
      <if test="pkCurrtype != null" >
        pk_currtype = #{pkCurrtype,jdbcType=INTEGER},
      </if>
      <if test="legalbody != null" >
        legalbody = #{legalbody,jdbcType=VARCHAR},
      </if>
      <if test="buslicense != null" >
        buslicense = #{buslicense,jdbcType=VARCHAR},
      </if>
      <if test="supcountrytaxes != null" >
        supcountrytaxes = #{supcountrytaxes,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null" >
        postalcode = #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="supplierstate != null" >
        supplierstate = #{supplierstate,jdbcType=TINYINT},
      </if>
      <if test="suplinkman != null" >
        suplinkman = #{suplinkman,jdbcType=VARCHAR},
      </if>
      <if test="suobankacc != null" >
        suobankacc = #{suobankacc,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="enablestate != null" >
        enablestate = #{enablestate,jdbcType=TINYINT},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="creationtime != null" >
        creationtime = #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifiedtime != null" >
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null" >
        dr = #{dr,jdbcType=TINYINT},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk_supplier = #{pkSupplier,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanyi.andnow.entity.basedata.Supplier" >
    update bd_supplier
    set pk_group = #{pkGroup,jdbcType=INTEGER},
      pk_org = #{pkOrg,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      shortname = #{shortname,jdbcType=VARCHAR},
      ename = #{ename,jdbcType=VARCHAR},
      mencode = #{mencode,jdbcType=VARCHAR},
      pk_country = #{pkCountry,jdbcType=INTEGER},
      pk_timezone = #{pkTimezone,jdbcType=INTEGER},
      trade = #{trade,jdbcType=INTEGER},
      suppliertype = #{suppliertype,jdbcType=INTEGER},
      pk_superior = #{pkSuperior,jdbcType=INTEGER},
      establishdate = #{establishdate,jdbcType=TIMESTAMP},
      pk_supplierclass = #{pkSupplierclass,jdbcType=INTEGER},
      iscustomer = #{iscustomer,jdbcType=TINYINT},
      taxpayerid = #{taxpayerid,jdbcType=VARCHAR},
      registeredfund = #{registeredfund,jdbcType=DOUBLE},
      pk_currtype = #{pkCurrtype,jdbcType=INTEGER},
      legalbody = #{legalbody,jdbcType=VARCHAR},
      buslicense = #{buslicense,jdbcType=VARCHAR},
      supcountrytaxes = #{supcountrytaxes,jdbcType=VARCHAR},
      postalcode = #{postalcode,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      supplierstate = #{supplierstate,jdbcType=TINYINT},
      suplinkman = #{suplinkman,jdbcType=VARCHAR},
      suobankacc = #{suobankacc,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      enablestate = #{enablestate,jdbcType=TINYINT},
      note = #{note,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      creationtime = #{creationtime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=INTEGER},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT},
      ts = #{ts,jdbcType=TIMESTAMP}
    where pk_supplier = #{pkSupplier,jdbcType=INTEGER}
  </update>
</mapper>