<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanyi.andnow.basedata.psndoc.mapper.PsndocMapper" >
  <resultMap id="BaseResultMap" type="com.fanyi.andnow.common.vo.basedata.Psndoc" >
    <id column="pk_psndoc" property="pkPsndoc" jdbcType="INTEGER" />
    <result column="pk_group" property="pkGroup" jdbcType="INTEGER" />
    <result column="pk_org" property="pkOrg" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="usedname" property="usedname" jdbcType="VARCHAR" />
    <result column="lastname" property="lastname" jdbcType="VARCHAR" />
    <result column="firstname" property="firstname" jdbcType="VARCHAR" />
    <result column="nikename" property="nikename" jdbcType="VARCHAR" />
    <result column="mnecode" property="mnecode" jdbcType="VARCHAR" />
    <result column="joinworkdate" property="joinworkdate" jdbcType="DATE" />
    <result column="pk_psnjob" property="pkPsnjob" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="cardtype" property="cardtype" jdbcType="TINYINT" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="officephone" property="officephone" jdbcType="VARCHAR" />
    <result column="homephone" property="homephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="enablestate" property="enablestate" jdbcType="TINYINT" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="creationtime" property="creationtime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modifiedtime" property="modifiedtime" jdbcType="TIMESTAMP" />
    <result column="dr" property="dr" jdbcType="TINYINT" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pk_psndoc, pk_group, pk_org, code, name, usedname, lastname, firstname, nikename, 
    mnecode, joinworkdate, pk_psnjob, sex, birthday, cardtype, idcard, phone, officephone, 
    homephone, email, address, enablestate, note, creator, creationtime, modifier, modifiedtime, 
    dr, ts
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fanyi.andnow.basedata.psndoc.service.PsndocExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bd_psndoc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bd_psndoc
    where pk_psndoc = #{pkPsndoc,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bd_psndoc
    where pk_psndoc = #{pkPsndoc,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fanyi.andnow.basedata.psndoc.service.PsndocExample" >
    delete from bd_psndoc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fanyi.andnow.common.vo.basedata.Psndoc" >
    insert into bd_psndoc (pk_psndoc, pk_group, pk_org, 
      code, name, usedname, 
      lastname, firstname, nikename, 
      mnecode, joinworkdate, pk_psnjob, 
      sex, birthday, cardtype, 
      idcard, phone, officephone, 
      homephone, email, address, 
      enablestate, note, creator, 
      creationtime, modifier, modifiedtime, 
      dr, ts)
    values (#{pkPsndoc,jdbcType=INTEGER}, #{pkGroup,jdbcType=INTEGER}, #{pkOrg,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{usedname,jdbcType=VARCHAR}, 
      #{lastname,jdbcType=VARCHAR}, #{firstname,jdbcType=VARCHAR}, #{nikename,jdbcType=VARCHAR}, 
      #{mnecode,jdbcType=VARCHAR}, #{joinworkdate,jdbcType=DATE}, #{pkPsnjob,jdbcType=INTEGER}, 
      #{sex,jdbcType=TINYINT}, #{birthday,jdbcType=DATE}, #{cardtype,jdbcType=TINYINT}, 
      #{idcard,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{officephone,jdbcType=VARCHAR}, 
      #{homephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{enablestate,jdbcType=TINYINT}, #{note,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, 
      #{creationtime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=INTEGER}, #{modifiedtime,jdbcType=TIMESTAMP}, 
      #{dr,jdbcType=TINYINT}, #{ts,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fanyi.andnow.common.vo.basedata.Psndoc" >
    insert into bd_psndoc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkPsndoc != null" >
        pk_psndoc,
      </if>
      <if test="pkGroup != null" >
        pk_group,
      </if>
      <if test="pkOrg != null" >
        pk_org,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="usedname != null" >
        usedname,
      </if>
      <if test="lastname != null" >
        lastname,
      </if>
      <if test="firstname != null" >
        firstname,
      </if>
      <if test="nikename != null" >
        nikename,
      </if>
      <if test="mnecode != null" >
        mnecode,
      </if>
      <if test="joinworkdate != null" >
        joinworkdate,
      </if>
      <if test="pkPsnjob != null" >
        pk_psnjob,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="cardtype != null" >
        cardtype,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="officephone != null" >
        officephone,
      </if>
      <if test="homephone != null" >
        homephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="enablestate != null" >
        enablestate,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationtime != null" >
        creationtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifiedtime != null" >
        modifiedtime,
      </if>
      <if test="dr != null" >
        dr,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkPsndoc != null" >
        #{pkPsndoc,jdbcType=INTEGER},
      </if>
      <if test="pkGroup != null" >
        #{pkGroup,jdbcType=INTEGER},
      </if>
      <if test="pkOrg != null" >
        #{pkOrg,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="usedname != null" >
        #{usedname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null" >
        #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="firstname != null" >
        #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="nikename != null" >
        #{nikename,jdbcType=VARCHAR},
      </if>
      <if test="mnecode != null" >
        #{mnecode,jdbcType=VARCHAR},
      </if>
      <if test="joinworkdate != null" >
        #{joinworkdate,jdbcType=DATE},
      </if>
      <if test="pkPsnjob != null" >
        #{pkPsnjob,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="cardtype != null" >
        #{cardtype,jdbcType=TINYINT},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="officephone != null" >
        #{officephone,jdbcType=VARCHAR},
      </if>
      <if test="homephone != null" >
        #{homephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="enablestate != null" >
        #{enablestate,jdbcType=TINYINT},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="creationtime != null" >
        #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null" >
        #{dr,jdbcType=TINYINT},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fanyi.andnow.basedata.psndoc.service.PsndocExample" resultType="java.lang.Integer" >
    select count(*) from bd_psndoc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bd_psndoc
    <set >
      <if test="group.pkPsndoc != null" >
        pk_psndoc = #{group.pkPsndoc,jdbcType=INTEGER},
      </if>
      <if test="group.pkGroup != null" >
        pk_group = #{group.pkGroup,jdbcType=INTEGER},
      </if>
      <if test="group.pkOrg != null" >
        pk_org = #{group.pkOrg,jdbcType=INTEGER},
      </if>
      <if test="group.code != null" >
        code = #{group.code,jdbcType=VARCHAR},
      </if>
      <if test="group.name != null" >
        name = #{group.name,jdbcType=VARCHAR},
      </if>
      <if test="group.usedname != null" >
        usedname = #{group.usedname,jdbcType=VARCHAR},
      </if>
      <if test="group.lastname != null" >
        lastname = #{group.lastname,jdbcType=VARCHAR},
      </if>
      <if test="group.firstname != null" >
        firstname = #{group.firstname,jdbcType=VARCHAR},
      </if>
      <if test="group.nikename != null" >
        nikename = #{group.nikename,jdbcType=VARCHAR},
      </if>
      <if test="group.mnecode != null" >
        mnecode = #{group.mnecode,jdbcType=VARCHAR},
      </if>
      <if test="group.joinworkdate != null" >
        joinworkdate = #{group.joinworkdate,jdbcType=DATE},
      </if>
      <if test="group.pkPsnjob != null" >
        pk_psnjob = #{group.pkPsnjob,jdbcType=INTEGER},
      </if>
      <if test="group.sex != null" >
        sex = #{group.sex,jdbcType=TINYINT},
      </if>
      <if test="group.birthday != null" >
        birthday = #{group.birthday,jdbcType=DATE},
      </if>
      <if test="group.cardtype != null" >
        cardtype = #{group.cardtype,jdbcType=TINYINT},
      </if>
      <if test="group.idcard != null" >
        idcard = #{group.idcard,jdbcType=VARCHAR},
      </if>
      <if test="group.phone != null" >
        phone = #{group.phone,jdbcType=VARCHAR},
      </if>
      <if test="group.officephone != null" >
        officephone = #{group.officephone,jdbcType=VARCHAR},
      </if>
      <if test="group.homephone != null" >
        homephone = #{group.homephone,jdbcType=VARCHAR},
      </if>
      <if test="group.email != null" >
        email = #{group.email,jdbcType=VARCHAR},
      </if>
      <if test="group.address != null" >
        address = #{group.address,jdbcType=VARCHAR},
      </if>
      <if test="group.enablestate != null" >
        enablestate = #{group.enablestate,jdbcType=TINYINT},
      </if>
      <if test="group.note != null" >
        note = #{group.note,jdbcType=VARCHAR},
      </if>
      <if test="group.creator != null" >
        creator = #{group.creator,jdbcType=INTEGER},
      </if>
      <if test="group.creationtime != null" >
        creationtime = #{group.creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="group.modifier != null" >
        modifier = #{group.modifier,jdbcType=INTEGER},
      </if>
      <if test="group.modifiedtime != null" >
        modifiedtime = #{group.modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="group.dr != null" >
        dr = #{group.dr,jdbcType=TINYINT},
      </if>
      <if test="group.ts != null" >
        ts = #{group.ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bd_psndoc
    set pk_psndoc = #{group.pkPsndoc,jdbcType=INTEGER},
      pk_group = #{group.pkGroup,jdbcType=INTEGER},
      pk_org = #{group.pkOrg,jdbcType=INTEGER},
      code = #{group.code,jdbcType=VARCHAR},
      name = #{group.name,jdbcType=VARCHAR},
      usedname = #{group.usedname,jdbcType=VARCHAR},
      lastname = #{group.lastname,jdbcType=VARCHAR},
      firstname = #{group.firstname,jdbcType=VARCHAR},
      nikename = #{group.nikename,jdbcType=VARCHAR},
      mnecode = #{group.mnecode,jdbcType=VARCHAR},
      joinworkdate = #{group.joinworkdate,jdbcType=DATE},
      pk_psnjob = #{group.pkPsnjob,jdbcType=INTEGER},
      sex = #{group.sex,jdbcType=TINYINT},
      birthday = #{group.birthday,jdbcType=DATE},
      cardtype = #{group.cardtype,jdbcType=TINYINT},
      idcard = #{group.idcard,jdbcType=VARCHAR},
      phone = #{group.phone,jdbcType=VARCHAR},
      officephone = #{group.officephone,jdbcType=VARCHAR},
      homephone = #{group.homephone,jdbcType=VARCHAR},
      email = #{group.email,jdbcType=VARCHAR},
      address = #{group.address,jdbcType=VARCHAR},
      enablestate = #{group.enablestate,jdbcType=TINYINT},
      note = #{group.note,jdbcType=VARCHAR},
      creator = #{group.creator,jdbcType=INTEGER},
      creationtime = #{group.creationtime,jdbcType=TIMESTAMP},
      modifier = #{group.modifier,jdbcType=INTEGER},
      modifiedtime = #{group.modifiedtime,jdbcType=TIMESTAMP},
      dr = #{group.dr,jdbcType=TINYINT},
      ts = #{group.ts,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyi.andnow.common.vo.basedata.Psndoc" >
    update bd_psndoc
    <set >
      <if test="pkGroup != null" >
        pk_group = #{pkGroup,jdbcType=INTEGER},
      </if>
      <if test="pkOrg != null" >
        pk_org = #{pkOrg,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="usedname != null" >
        usedname = #{usedname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null" >
        lastname = #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="firstname != null" >
        firstname = #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="nikename != null" >
        nikename = #{nikename,jdbcType=VARCHAR},
      </if>
      <if test="mnecode != null" >
        mnecode = #{mnecode,jdbcType=VARCHAR},
      </if>
      <if test="joinworkdate != null" >
        joinworkdate = #{joinworkdate,jdbcType=DATE},
      </if>
      <if test="pkPsnjob != null" >
        pk_psnjob = #{pkPsnjob,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="cardtype != null" >
        cardtype = #{cardtype,jdbcType=TINYINT},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="officephone != null" >
        officephone = #{officephone,jdbcType=VARCHAR},
      </if>
      <if test="homephone != null" >
        homephone = #{homephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="enablestate != null" >
        enablestate = #{enablestate,jdbcType=TINYINT},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="creationtime != null" >
        creationtime = #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifiedtime != null" >
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null" >
        dr = #{dr,jdbcType=TINYINT},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk_psndoc = #{pkPsndoc,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanyi.andnow.common.vo.basedata.Psndoc" >
    update bd_psndoc
    set pk_group = #{pkGroup,jdbcType=INTEGER},
      pk_org = #{pkOrg,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      usedname = #{usedname,jdbcType=VARCHAR},
      lastname = #{lastname,jdbcType=VARCHAR},
      firstname = #{firstname,jdbcType=VARCHAR},
      nikename = #{nikename,jdbcType=VARCHAR},
      mnecode = #{mnecode,jdbcType=VARCHAR},
      joinworkdate = #{joinworkdate,jdbcType=DATE},
      pk_psnjob = #{pkPsnjob,jdbcType=INTEGER},
      sex = #{sex,jdbcType=TINYINT},
      birthday = #{birthday,jdbcType=DATE},
      cardtype = #{cardtype,jdbcType=TINYINT},
      idcard = #{idcard,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      officephone = #{officephone,jdbcType=VARCHAR},
      homephone = #{homephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      enablestate = #{enablestate,jdbcType=TINYINT},
      note = #{note,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      creationtime = #{creationtime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=INTEGER},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT},
      ts = #{ts,jdbcType=TIMESTAMP}
    where pk_psndoc = #{pkPsndoc,jdbcType=INTEGER}
  </update>
</mapper>