<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanyi.andnow.basedata.psnjob.mapper.PsnjobMapper" >
  <resultMap id="BaseResultMap" type="com.fanyi.andnow.common.vo.basedata.Psnjob" >
    <id column="pk_psnjob" property="pkPsnjob" jdbcType="INTEGER" />
    <result column="pk_group" property="pkGroup" jdbcType="INTEGER" />
    <result column="pk_org" property="pkOrg" jdbcType="INTEGER" />
    <result column="psncode" property="psncode" jdbcType="VARCHAR" />
    <result column="pk_psncl" property="pkPsncl" jdbcType="INTEGER" />
    <result column="pk_dept" property="pkDept" jdbcType="INTEGER" />
    <result column="startdutydate" property="startdutydate" jdbcType="DATE" />
    <result column="enddutydate" property="enddutydate" jdbcType="DATE" />
    <result column="pk_job" property="pkJob" jdbcType="VARCHAR" />
    <result column="jobname" property="jobname" jdbcType="VARCHAR" />
    <result column="pk_post" property="pkPost" jdbcType="INTEGER" />
    <result column="showorder" property="showorder" jdbcType="INTEGER" />
    <result column="enablestate" property="enablestate" jdbcType="TINYINT" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="creationtime" property="creationtime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modifiedtime" property="modifiedtime" jdbcType="TIMESTAMP" />
    <result column="dr" property="dr" jdbcType="TINYINT" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pk_psnjob, pk_group, pk_org, psncode, pk_psncl, pk_dept, startdutydate, enddutydate, 
    pk_job, jobname, pk_post, showorder, enablestate, note, creator, creationtime, modifier, 
    modifiedtime, dr, ts
  </sql>

  <!--查询所有工作信息-->
  <select id="selectPsnjob" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bd_psnjob
    where dr = '0'
    order by #{pkPsnjob,jdbcType=INTEGER}
  </select>

  <!--根据主键查询工作信息-->
  <select id="selectPsnjobByPk" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bd_psnjob
    where pk_psnjob = #{pkPsnjob,jdbcType=INTEGER}
    AND dr = '0'
  </select>

  <!--添加工作信息-->
  <insert id="insertPsnjob" parameterType="com.fanyi.andnow.common.vo.basedata.Psnjob" >
    insert into bd_psnjob
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkPsnjob != null" >
        pk_psnjob,
      </if>
      <if test="pkGroup != null" >
        pk_group,
      </if>
      <if test="pkOrg != null" >
        pk_org,
      </if>
      <if test="psncode != null" >
        psncode,
      </if>
      <if test="pkPsncl != null" >
        pk_psncl,
      </if>
      <if test="pkDept != null" >
        pk_dept,
      </if>
      <if test="startdutydate != null" >
        startdutydate,
      </if>
      <if test="enddutydate != null" >
        enddutydate,
      </if>
      <if test="pkJob != null" >
        pk_job,
      </if>
      <if test="jobname != null" >
        jobname,
      </if>
      <if test="pkPost != null" >
        pk_post,
      </if>
      <if test="showorder != null" >
        showorder,
      </if>
      <if test="enablestate != null" >
        enablestate,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationtime != null" >
        creationtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifiedtime != null" >
        modifiedtime,
      </if>
      <if test="dr != null" >
        dr,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkPsnjob != null" >
        #{pkPsnjob,jdbcType=INTEGER},
      </if>
      <if test="pkGroup != null" >
        #{pkGroup,jdbcType=INTEGER},
      </if>
      <if test="pkOrg != null" >
        #{pkOrg,jdbcType=INTEGER},
      </if>
      <if test="psncode != null" >
        #{psncode,jdbcType=VARCHAR},
      </if>
      <if test="pkPsncl != null" >
        #{pkPsncl,jdbcType=INTEGER},
      </if>
      <if test="pkDept != null" >
        #{pkDept,jdbcType=INTEGER},
      </if>
      <if test="startdutydate != null" >
        #{startdutydate,jdbcType=DATE},
      </if>
      <if test="enddutydate != null" >
        #{enddutydate,jdbcType=DATE},
      </if>
      <if test="pkJob != null" >
        #{pkJob,jdbcType=VARCHAR},
      </if>
      <if test="jobname != null" >
        #{jobname,jdbcType=VARCHAR},
      </if>
      <if test="pkPost != null" >
        #{pkPost,jdbcType=INTEGER},
      </if>
      <if test="showorder != null" >
        #{showorder,jdbcType=INTEGER},
      </if>
      <if test="enablestate != null" >
        #{enablestate,jdbcType=TINYINT},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="creationtime != null" >
        #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null" >
        #{dr,jdbcType=TINYINT},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <!--更新工作信息-->
  <update id="updatePsnjob" parameterType="com.fanyi.andnow.common.vo.basedata.Psnjob" >
    update bd_psnjob
    <set >
      <if test="group.pkPsnjob != null" >
        pk_psnjob = #{group.pkPsnjob,jdbcType=INTEGER},
      </if>
      <if test="group.pkGroup != null" >
        pk_group = #{group.pkGroup,jdbcType=INTEGER},
      </if>
      <if test="group.pkOrg != null" >
        pk_org = #{group.pkOrg,jdbcType=INTEGER},
      </if>
      <if test="group.psncode != null" >
        psncode = #{group.psncode,jdbcType=VARCHAR},
      </if>
      <if test="group.pkPsncl != null" >
        pk_psncl = #{group.pkPsncl,jdbcType=INTEGER},
      </if>
      <if test="group.pkDept != null" >
        pk_dept = #{group.pkDept,jdbcType=INTEGER},
      </if>
      <if test="group.startdutydate != null" >
        startdutydate = #{group.startdutydate,jdbcType=DATE},
      </if>
      <if test="group.enddutydate != null" >
        enddutydate = #{group.enddutydate,jdbcType=DATE},
      </if>
      <if test="group.pkJob != null" >
        pk_job = #{group.pkJob,jdbcType=VARCHAR},
      </if>
      <if test="group.jobname != null" >
        jobname = #{group.jobname,jdbcType=VARCHAR},
      </if>
      <if test="group.pkPost != null" >
        pk_post = #{group.pkPost,jdbcType=INTEGER},
      </if>
      <if test="group.showorder != null" >
        showorder = #{group.showorder,jdbcType=INTEGER},
      </if>
      <if test="group.enablestate != null" >
        enablestate = #{group.enablestate,jdbcType=TINYINT},
      </if>
      <if test="group.note != null" >
        note = #{group.note,jdbcType=VARCHAR},
      </if>
      <if test="group.creator != null" >
        creator = #{group.creator,jdbcType=INTEGER},
      </if>
      <if test="group.creationtime != null" >
        creationtime = #{group.creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="group.modifier != null" >
        modifier = #{group.modifier,jdbcType=INTEGER},
      </if>
      <if test="group.modifiedtime != null" >
        modifiedtime = #{group.modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="group.dr != null" >
        dr = #{group.dr,jdbcType=TINYINT},
      </if>
      <if test="group.ts != null" >
        ts = #{group.ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk_psnjob = #{pkPsnjob,jdbcType=INTEGER}
  </update>

  <!--根据主键删除工作信息-->
  <update id="deletePsnjobByPk" parameterType="java.lang.Integer" >
    update bd_psnjob
    set dr = '1'
    where pk_psnjob = #{pkPsnjob,jdbcType=INTEGER}
  </update>

  <!--物理删除工作信息-->
  <delete id="deletePsnjob" >
    delete from bd_psnjob
    where dr = '1'
  </delete>

  <!--查询工作个数-->
  <select id="selectPsnjobCount" resultType="java.lang.Integer" >
    select count(*)
    from bd_psnjob
    where dr = '0'
  </select>

</mapper>