<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanyi.andnow.mysql.mapper.MaterialVOMapper" >
  <resultMap id="BaseResultMap" type="com.fanyi.andnow.mysql.vo.MaterialVO" >
    <id column="pk_material" property="pkMaterial" jdbcType="INTEGER" />
    <result column="pk_group" property="pkGroup" jdbcType="INTEGER" />
    <result column="pk_org" property="pkOrg" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="shortname" property="shortname" jdbcType="VARCHAR" />
    <result column="mnecode" property="mnecode" jdbcType="VARCHAR" />
    <result column="pk_measdoc" property="pkMeasdoc" jdbcType="INTEGER" />
    <result column="pk_marbasclass" property="pkMarbasclass" jdbcType="INTEGER" />
    <result column="pk_prodline" property="pkProdline" jdbcType="INTEGER" />
    <result column="pk_brand" property="pkBrand" jdbcType="INTEGER" />
    <result column="discountflag" property="discountflag" jdbcType="DOUBLE" />
    <result column="unitlenth" property="unitlenth" jdbcType="DOUBLE" />
    <result column="unitheight" property="unitheight" jdbcType="DOUBLE" />
    <result column="unitwidth" property="unitwidth" jdbcType="DOUBLE" />
    <result column="unitvolume" property="unitvolume" jdbcType="DOUBLE" />
    <result column="unitweight" property="unitweight" jdbcType="DOUBLE" />
    <result column="retailprice" property="retailprice" jdbcType="DECIMAL" />
    <result column="costprice" property="costprice" jdbcType="DECIMAL" />
    <result column="enablestate" property="enablestate" jdbcType="INTEGER" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="creationtime" property="creationtime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modifiedtime" property="modifiedtime" jdbcType="TIMESTAMP" />
    <result column="dr" property="dr" jdbcType="INTEGER" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pk_material, pk_group, pk_org, code, name, version, specification, type, shortname, 
    mnecode, pk_measdoc, pk_marbasclass, pk_prodline, pk_brand, discountflag, unitlenth, 
    unitheight, unitwidth, unitvolume, unitweight, retailprice, costprice, enablestate, 
    note, creator, creationtime, modifier, modifiedtime, dr, ts
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fanyi.andnow.mysql.vo.MaterialVOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bd_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bd_material
    where pk_material = #{pkMaterial,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bd_material
    where pk_material = #{pkMaterial,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fanyi.andnow.mysql.vo.MaterialVOExample" >
    delete from bd_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fanyi.andnow.mysql.vo.MaterialVO" >
    insert into bd_material (pk_material, pk_group, pk_org, 
      code, name, version, 
      specification, type, shortname, 
      mnecode, pk_measdoc, pk_marbasclass, 
      pk_prodline, pk_brand, discountflag, 
      unitlenth, unitheight, unitwidth, 
      unitvolume, unitweight, retailprice, 
      costprice, enablestate, note, 
      creator, creationtime, modifier, 
      modifiedtime, dr, ts
      )
    values (#{pkMaterial,jdbcType=INTEGER}, #{pkGroup,jdbcType=INTEGER}, #{pkOrg,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{shortname,jdbcType=VARCHAR}, 
      #{mnecode,jdbcType=VARCHAR}, #{pkMeasdoc,jdbcType=INTEGER}, #{pkMarbasclass,jdbcType=INTEGER}, 
      #{pkProdline,jdbcType=INTEGER}, #{pkBrand,jdbcType=INTEGER}, #{discountflag,jdbcType=DOUBLE}, 
      #{unitlenth,jdbcType=DOUBLE}, #{unitheight,jdbcType=DOUBLE}, #{unitwidth,jdbcType=DOUBLE}, 
      #{unitvolume,jdbcType=DOUBLE}, #{unitweight,jdbcType=DOUBLE}, #{retailprice,jdbcType=DECIMAL}, 
      #{costprice,jdbcType=DECIMAL}, #{enablestate,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR}, 
      #{creator,jdbcType=INTEGER}, #{creationtime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=INTEGER}, 
      #{modifiedtime,jdbcType=TIMESTAMP}, #{dr,jdbcType=INTEGER}, #{ts,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fanyi.andnow.mysql.vo.MaterialVO" >
    insert into bd_material
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkMaterial != null" >
        pk_material,
      </if>
      <if test="pkGroup != null" >
        pk_group,
      </if>
      <if test="pkOrg != null" >
        pk_org,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="shortname != null" >
        shortname,
      </if>
      <if test="mnecode != null" >
        mnecode,
      </if>
      <if test="pkMeasdoc != null" >
        pk_measdoc,
      </if>
      <if test="pkMarbasclass != null" >
        pk_marbasclass,
      </if>
      <if test="pkProdline != null" >
        pk_prodline,
      </if>
      <if test="pkBrand != null" >
        pk_brand,
      </if>
      <if test="discountflag != null" >
        discountflag,
      </if>
      <if test="unitlenth != null" >
        unitlenth,
      </if>
      <if test="unitheight != null" >
        unitheight,
      </if>
      <if test="unitwidth != null" >
        unitwidth,
      </if>
      <if test="unitvolume != null" >
        unitvolume,
      </if>
      <if test="unitweight != null" >
        unitweight,
      </if>
      <if test="retailprice != null" >
        retailprice,
      </if>
      <if test="costprice != null" >
        costprice,
      </if>
      <if test="enablestate != null" >
        enablestate,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationtime != null" >
        creationtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifiedtime != null" >
        modifiedtime,
      </if>
      <if test="dr != null" >
        dr,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkMaterial != null" >
        #{pkMaterial,jdbcType=INTEGER},
      </if>
      <if test="pkGroup != null" >
        #{pkGroup,jdbcType=INTEGER},
      </if>
      <if test="pkOrg != null" >
        #{pkOrg,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="shortname != null" >
        #{shortname,jdbcType=VARCHAR},
      </if>
      <if test="mnecode != null" >
        #{mnecode,jdbcType=VARCHAR},
      </if>
      <if test="pkMeasdoc != null" >
        #{pkMeasdoc,jdbcType=INTEGER},
      </if>
      <if test="pkMarbasclass != null" >
        #{pkMarbasclass,jdbcType=INTEGER},
      </if>
      <if test="pkProdline != null" >
        #{pkProdline,jdbcType=INTEGER},
      </if>
      <if test="pkBrand != null" >
        #{pkBrand,jdbcType=INTEGER},
      </if>
      <if test="discountflag != null" >
        #{discountflag,jdbcType=DOUBLE},
      </if>
      <if test="unitlenth != null" >
        #{unitlenth,jdbcType=DOUBLE},
      </if>
      <if test="unitheight != null" >
        #{unitheight,jdbcType=DOUBLE},
      </if>
      <if test="unitwidth != null" >
        #{unitwidth,jdbcType=DOUBLE},
      </if>
      <if test="unitvolume != null" >
        #{unitvolume,jdbcType=DOUBLE},
      </if>
      <if test="unitweight != null" >
        #{unitweight,jdbcType=DOUBLE},
      </if>
      <if test="retailprice != null" >
        #{retailprice,jdbcType=DECIMAL},
      </if>
      <if test="costprice != null" >
        #{costprice,jdbcType=DECIMAL},
      </if>
      <if test="enablestate != null" >
        #{enablestate,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="creationtime != null" >
        #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null" >
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fanyi.andnow.mysql.vo.MaterialVOExample" resultType="java.lang.Integer" >
    select count(*) from bd_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bd_material
    <set >
      <if test="record.pkMaterial != null" >
        pk_material = #{record.pkMaterial,jdbcType=INTEGER},
      </if>
      <if test="record.pkGroup != null" >
        pk_group = #{record.pkGroup,jdbcType=INTEGER},
      </if>
      <if test="record.pkOrg != null" >
        pk_org = #{record.pkOrg,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.specification != null" >
        specification = #{record.specification,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.shortname != null" >
        shortname = #{record.shortname,jdbcType=VARCHAR},
      </if>
      <if test="record.mnecode != null" >
        mnecode = #{record.mnecode,jdbcType=VARCHAR},
      </if>
      <if test="record.pkMeasdoc != null" >
        pk_measdoc = #{record.pkMeasdoc,jdbcType=INTEGER},
      </if>
      <if test="record.pkMarbasclass != null" >
        pk_marbasclass = #{record.pkMarbasclass,jdbcType=INTEGER},
      </if>
      <if test="record.pkProdline != null" >
        pk_prodline = #{record.pkProdline,jdbcType=INTEGER},
      </if>
      <if test="record.pkBrand != null" >
        pk_brand = #{record.pkBrand,jdbcType=INTEGER},
      </if>
      <if test="record.discountflag != null" >
        discountflag = #{record.discountflag,jdbcType=DOUBLE},
      </if>
      <if test="record.unitlenth != null" >
        unitlenth = #{record.unitlenth,jdbcType=DOUBLE},
      </if>
      <if test="record.unitheight != null" >
        unitheight = #{record.unitheight,jdbcType=DOUBLE},
      </if>
      <if test="record.unitwidth != null" >
        unitwidth = #{record.unitwidth,jdbcType=DOUBLE},
      </if>
      <if test="record.unitvolume != null" >
        unitvolume = #{record.unitvolume,jdbcType=DOUBLE},
      </if>
      <if test="record.unitweight != null" >
        unitweight = #{record.unitweight,jdbcType=DOUBLE},
      </if>
      <if test="record.retailprice != null" >
        retailprice = #{record.retailprice,jdbcType=DECIMAL},
      </if>
      <if test="record.costprice != null" >
        costprice = #{record.costprice,jdbcType=DECIMAL},
      </if>
      <if test="record.enablestate != null" >
        enablestate = #{record.enablestate,jdbcType=INTEGER},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=INTEGER},
      </if>
      <if test="record.creationtime != null" >
        creationtime = #{record.creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null" >
        modifier = #{record.modifier,jdbcType=INTEGER},
      </if>
      <if test="record.modifiedtime != null" >
        modifiedtime = #{record.modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dr != null" >
        dr = #{record.dr,jdbcType=INTEGER},
      </if>
      <if test="record.ts != null" >
        ts = #{record.ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bd_material
    set pk_material = #{record.pkMaterial,jdbcType=INTEGER},
      pk_group = #{record.pkGroup,jdbcType=INTEGER},
      pk_org = #{record.pkOrg,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=VARCHAR},
      specification = #{record.specification,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      shortname = #{record.shortname,jdbcType=VARCHAR},
      mnecode = #{record.mnecode,jdbcType=VARCHAR},
      pk_measdoc = #{record.pkMeasdoc,jdbcType=INTEGER},
      pk_marbasclass = #{record.pkMarbasclass,jdbcType=INTEGER},
      pk_prodline = #{record.pkProdline,jdbcType=INTEGER},
      pk_brand = #{record.pkBrand,jdbcType=INTEGER},
      discountflag = #{record.discountflag,jdbcType=DOUBLE},
      unitlenth = #{record.unitlenth,jdbcType=DOUBLE},
      unitheight = #{record.unitheight,jdbcType=DOUBLE},
      unitwidth = #{record.unitwidth,jdbcType=DOUBLE},
      unitvolume = #{record.unitvolume,jdbcType=DOUBLE},
      unitweight = #{record.unitweight,jdbcType=DOUBLE},
      retailprice = #{record.retailprice,jdbcType=DECIMAL},
      costprice = #{record.costprice,jdbcType=DECIMAL},
      enablestate = #{record.enablestate,jdbcType=INTEGER},
      note = #{record.note,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=INTEGER},
      creationtime = #{record.creationtime,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=INTEGER},
      modifiedtime = #{record.modifiedtime,jdbcType=TIMESTAMP},
      dr = #{record.dr,jdbcType=INTEGER},
      ts = #{record.ts,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyi.andnow.mysql.vo.MaterialVO" >
    update bd_material
    <set >
      <if test="pkGroup != null" >
        pk_group = #{pkGroup,jdbcType=INTEGER},
      </if>
      <if test="pkOrg != null" >
        pk_org = #{pkOrg,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="shortname != null" >
        shortname = #{shortname,jdbcType=VARCHAR},
      </if>
      <if test="mnecode != null" >
        mnecode = #{mnecode,jdbcType=VARCHAR},
      </if>
      <if test="pkMeasdoc != null" >
        pk_measdoc = #{pkMeasdoc,jdbcType=INTEGER},
      </if>
      <if test="pkMarbasclass != null" >
        pk_marbasclass = #{pkMarbasclass,jdbcType=INTEGER},
      </if>
      <if test="pkProdline != null" >
        pk_prodline = #{pkProdline,jdbcType=INTEGER},
      </if>
      <if test="pkBrand != null" >
        pk_brand = #{pkBrand,jdbcType=INTEGER},
      </if>
      <if test="discountflag != null" >
        discountflag = #{discountflag,jdbcType=DOUBLE},
      </if>
      <if test="unitlenth != null" >
        unitlenth = #{unitlenth,jdbcType=DOUBLE},
      </if>
      <if test="unitheight != null" >
        unitheight = #{unitheight,jdbcType=DOUBLE},
      </if>
      <if test="unitwidth != null" >
        unitwidth = #{unitwidth,jdbcType=DOUBLE},
      </if>
      <if test="unitvolume != null" >
        unitvolume = #{unitvolume,jdbcType=DOUBLE},
      </if>
      <if test="unitweight != null" >
        unitweight = #{unitweight,jdbcType=DOUBLE},
      </if>
      <if test="retailprice != null" >
        retailprice = #{retailprice,jdbcType=DECIMAL},
      </if>
      <if test="costprice != null" >
        costprice = #{costprice,jdbcType=DECIMAL},
      </if>
      <if test="enablestate != null" >
        enablestate = #{enablestate,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="creationtime != null" >
        creationtime = #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifiedtime != null" >
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null" >
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk_material = #{pkMaterial,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanyi.andnow.mysql.vo.MaterialVO" >
    update bd_material
    set pk_group = #{pkGroup,jdbcType=INTEGER},
      pk_org = #{pkOrg,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      shortname = #{shortname,jdbcType=VARCHAR},
      mnecode = #{mnecode,jdbcType=VARCHAR},
      pk_measdoc = #{pkMeasdoc,jdbcType=INTEGER},
      pk_marbasclass = #{pkMarbasclass,jdbcType=INTEGER},
      pk_prodline = #{pkProdline,jdbcType=INTEGER},
      pk_brand = #{pkBrand,jdbcType=INTEGER},
      discountflag = #{discountflag,jdbcType=DOUBLE},
      unitlenth = #{unitlenth,jdbcType=DOUBLE},
      unitheight = #{unitheight,jdbcType=DOUBLE},
      unitwidth = #{unitwidth,jdbcType=DOUBLE},
      unitvolume = #{unitvolume,jdbcType=DOUBLE},
      unitweight = #{unitweight,jdbcType=DOUBLE},
      retailprice = #{retailprice,jdbcType=DECIMAL},
      costprice = #{costprice,jdbcType=DECIMAL},
      enablestate = #{enablestate,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      creationtime = #{creationtime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=INTEGER},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=INTEGER},
      ts = #{ts,jdbcType=TIMESTAMP}
    where pk_material = #{pkMaterial,jdbcType=INTEGER}
  </update>
</mapper>